button {
    width: 30px;
}
.row {
    display: flex;
    flex: 1;
}
.square {
    width: 150px;
    height: 150px;
    flex: 1;
    border: 2px solid grey;
    text-align: center;
    font-size: 80px;
}
.board {
    width: 450px;
    height: 450px;
    margin: auto;
}
#container {
    text-align:center;
}